html{
  padding: 0;
  box-sizing: border-box; 
  font-size: 14px;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  background-color: rgb(237, 237, 237);
  overflow-x: hidden;
}

/* modal  */

.modal {
  display: none; 
  position: fixed; 
  z-index: 100; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%; 
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
}

.navbar{
  background-image: url('images/backgroundImg.jpg') ;
  font-size: 1.4em;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white !important; /* Set text color to white */
}

#heading{
  margin: 5%;
  text-align: center;

}
/* image gallery code  */
.masonry {
  column-count: 3;
  column-gap: 10px;
  width: 80%;
  margin-left: 10%;
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 10px;
}
.masonry-item img {
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  height: 200px;
  text-align: center;
  padding: 50px 0;
  background-image: url('images/backgroundImg.jpg') ;
  color: white;
}
