

html{
  padding: 0;
  box-sizing: border-box; 
  font-size: 14px;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  background-color: rgb(237, 237, 237);
  overflow-x: hidden;
}


/* image gallery code  */
.masonry {
  column-count: 3;
  column-gap: 10px;
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 10px;
}
.masonry-item img {
  width: 100%;
  height: auto;
}
