
html{
  padding: 0;
  box-sizing: border-box; 
  font-size: 14px;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  background-color: rgb(237, 237, 237);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(67, 70, 75);
  
}

.header{
  border-bottom: 1px solid rgb(57, 81, 89);
}

/* navbar styling  */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger{
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(57, 81, 89);
}

.navbar a {
  text-decoration: none;
  color: rgb(35, 48, 61);
  font-size: 1.25rem;
}

.nav-menu{
  display: flex;
  justify-content: space-between;

}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(146, 84, 48);
}

.nav-link:hover {
  color: rgb(203, 166, 166)
}

.nav-logo {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(35, 58, 108);
}

/* Hero banner code  */
.hero{
    display: block;
    margin: 15%;
    box-sizing: border-box;
    position: relative;
    margin: 5% 0 5% 0;
    
}

.hero img {
  width: 100%;
  height: 700px;
  object-fit: fill;
  display: block;
  z-index: 0;
  filter: grayscale(40%);
  
}
/* Styling for paragraphs within the hero banner */

.herotext {
  color: rgb(237, 237, 237);
  z-index: 1;
  position: absolute; 
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
} 

.herotext p {
  font-size: 2rem;
}
.herotext h1{
  font-size: 8rem;
  color: rgb(237, 237, 237);
  line-height: 60px;
}

.herotext h3{
  font-size: 1.5rem;
}


#about {
  border-top: 1px solid rgb(57, 81,89);
  font-size: 0.75rem;
  width: 100%;
  color: rgb(35, 48, 61);
  font-size: 1.5rem;
  text-align: justify;
  /* margin-bottom: -20%; */
}



/* cards */
/* cards */
.steel-products {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 100px;
  position: relative; /* Ensure positioning context for pseudo-elements */
  background-color: lightgray;
  margin-top: 100px;
}


.steel-product-1 {
  grid-column: 3;
  grid-row: 1;
}

.steel-product-2 {
  grid-column: 4;
  grid-row: 1;
}

.steel-product-3 {
  grid-column: 5;
  grid-row: 1;
}

.steel-product-4 {
  grid-column: 6;
  grid-row: 1;
}


.steel-product-1,
.steel-product-2,
.steel-product-3,
.steel-product-4{
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; 
  margin: 15px; 
  background-color: #f4ede4;
  width: 280px;
  height: 250px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  perspective: 1000px; 
  transform-style: preserve-3d; 
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  position: relative;
}

/* .steel-product-1 img,
.steel-product-2 img,
.steel-product-3 img,
.steel-product-4 img{
  width: 300px;
  height: 250px;
} */

.steel-product-1 h2,
.steel-product-2 h2,
.steel-product-3 h2,
.steel-product-4 h2{

  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.steel-product-1 p,
.steel-product-2 p,
.steel-product-3 p,
.steel-product-4 p{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}


/* Styles for the front and back of the card */
.steel-product-1 .card-front, .steel-product-1 .card-back,
.steel-product-2 .card-front, .steel-product-2 .card-back,
.steel-product-3 .card-front, .steel-product-3 .card-back,
.steel-product-4 .card-front, .steel-product-4 .card-back{
  backface-visibility: hidden; /* Hide the back face of the element */
  transform-style: preserve-3d; /* Preserve 3D */
}

.steel-product-1 .card-front,
.steel-product-2 .card-front,
.steel-product-3 .card-front,
.steel-product-4 .card-front {
  backface-visibility: hidden;
  text-align: center;
  z-index: 2;
}

/* Specific style for the back of the card */
.steel-product-1 .card-back,
.steel-product-2 .card-back,
.steel-product-3 .card-back,
.steel-product-4 .card-back{
  transform: rotateY(180deg); /* Rotate the back initially */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin-top: 50px;
  align-content: center;
}

.steel-product-1:hover,
.steel-product-2:hover,
.steel-product-3:hover,
.steel-product-4:hover{
  background-color: slategray; /* Darker red background on hover */
  color: white;
}

/* Apply font to the list */
.steel-product-1 ul,
.steel-product-2 ul,
.steel-product-3 ul,
.steel-product-4 ul{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  list-style-type: square;
}




/* image gallery code  */
.masonry {
  column-count: 3;
  column-gap: 10px;
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 10px;
}
.masonry-item img {
  width: 100%;
  height: auto;
}


/* form */

.contactForm{
  margin-top: 200px;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height:60vh;
}



input[type=text],[type=email], textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]{
  grid-column: 1/ -1;
  grid-row: 1;
}

input[type=email]{
  grid-column: 1/ -1;
  grid-row: 2;
}

textarea{
  grid-column: 1/ -1;
  grid-row: 3/5;
}

.ourEmail{
  grid-column: 2 /3 ;
  grid-row: 1;
}

.ourNumber{
  grid-column: 2 / 3 ;
  grid-row: 2;
}

.ourEmail{
  grid-column: 2 / 3 ;
  grid-row: 3;
}



/* footer */

footer{
  height: 200px;
}



/* media queries below */

@media only screen and (max-width: 768px){

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0,0,0,0.5);

  }

  .nav-menu.active{
    left: 0;
  }

  .nav-item{
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  button{
     border: none;
     
  }

  .hero{
    display: block;
    margin: 5%;
    font-size: 1.5rem;
    line-height: 1rem;
    
  }
  .hero p {
  font-size: 0.7rem;
  }
  .hero h1{
  font-size:6vw;
  }
} 