
body {
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
    background-color: rgb(237, 237, 237);
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    display: block;
    margin: 5% 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid rgb(57, 81, 89);
}

.hero img {
    width: 100%;
    height: 700px;
    object-fit: fill;
    display: block;
    z-index: 0;
    filter: grayscale(40%);
}

.herotext {
    color: rgb(237, 237, 237);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}


.herotext h1 {
    font-size: 8rem;
    color: rgb(237, 237, 237);
}

.herotext p {
  font-size: 1.2  rem;
}

/* About Section */

#about {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  font-size: 1.2rem;
  color: rgb(35, 48, 61);
  text-align: justify;
  align-items: center; 
  grid-gap: 20px; 
  padding: 20px;
}

#about h2 {
  margin-top: 2vh;
  margin-left: 2vw;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#about p {
  width: 60vw;
  margin-left: 2vw;
  columns: 1;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

@media (max-width: 768px) {
  #about {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
  }

  #about p {
    width: 90vw; 
    margin-left: 0; 
  }

  #about h2 {
    margin-left: 0; 
  }
}






/* Contact Form */
.contactForm {
  margin-top: 25vh;
  background-color: lightgray;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  height: auto;
  padding: 20px;
  align-items: center;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea
{
  margin-top: 3%;
  grid-column: 1 ; 
  width: 80%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 16px;
}

.contactForm #submitButton {
  align-self: start; 
  margin-top: 3%;
  grid-column: 1 ; 
  width: 10vw; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ourContact {
  grid-column: 2 ;
  margin-top: -20%;
  padding: 5px;
}

.ourContact a,
.ourContact p {
  font-size: 1.2em;
  text-decoration: none;
}


@media (max-width: 768px) {
  .contactForm {
      grid-template-columns: 1fr; 
      grid-template-rows: auto;
      height: auto;
  }

  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
      width: 100%; 
  }

  .ourContact {
    margin-bottom: 10px; 
    justify-self: start; 
    grid-column: 1;
    grid-row: auto;
    margin-top: 10%;
}
}



/* Footer */
footer {
    height: 200px;
    text-align: center;
    padding: 50px 0;
}

/* Media Queries */
@media (max-width: 1200px) {
    .steel-products {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .steel-product-1,
    .steel-product-2,
    .steel-product-3,
    .steel-product-4 {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        margin-top: 60%;
    }

    .herotext {
        top: 60%;
    }

    .steel-products {
        display: block;
        padding: 10px;
    }
}
